<div ng-controller="ReferralCtrl as referral">
    <table class="table table-striped table-bordered table-hover" datatable="ng" dt-options="R.dtOptions" dt-columns="R.dtColumns">
        <thead>
        <tr>
            <td>名字</td>
            <td>年龄</td>
            <td>电话</td>
            <td>类别</td>
            <td>备注</td>
            <td>转出单位</td>
            <td>状态</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="r in R.items">
            <td>{{ r.name }}</td>
            <td>{{r.age}}</td>
            <td>{{r.telphone}}</td>
            <td>{{r.type}}</td>
            <td>{{r.desc}}</td>
            <td>{{r.from}}</td>
            <td ng-bind="r.status"></td>
            <td class="col-md-2">
                <div ng-show="r.status !='已接收'">
                    <button ng-click="referral.accept($index)" class="btn btn-warning" ng-show="r.status != '已确认'" tabels-herf>确认</button>
                    <button ng-click="referral.reject($index)" class="btn btn-default"  tabels-herf>接收</button>
                </div>
            </td>
            <td>{{r.createTime}}</td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    setNav(2);
    var type = 'in';
</script>